<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo-16x16.png}" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Argon - Social Network</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Styles -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/components.css}" rel="stylesheet">
    <link th:href="@{/assets/css/auth.css}" rel="stylesheet">
    <link th:href="@{/assets/css/forms.css}" rel="stylesheet">
    <link th:href="@{/assets/css/media.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap/bootstrap.min.css}" rel="stylesheet">

    <style>
        .errorMessage {
            font-weight: bold;
        }
        .current-weather {
            font-size: 24px;
            display: flex;
            align-items: left;
            gap: 8px;
        }
        .current-weather i {
            font-size: 32px;
            color: #FFA500;
            margin-left: 110px;
        }
        .time {
            font-weight: bold;
        }

        .custom-modal {
            width: 250px;
            top: 20px; /* Đưa modal lên trên */
            border-radius: 12px;
            margin: auto;
        }

        .modal-dialog {
            max-width: 250px; /* Đảm bảo chiều rộng khớp */
            margin: auto;
        }

        .modal-content {
            border: 2px solid #4ba7ed; /* Viền xanh gắn vào modal-content để không bị lệch */
            border-radius: 12px;
            padding: 0;
            text-align: center;
            overflow: hidden; /* Đảm bảo không có góc bị lộ */
        }

        .modal-title {
            font-size: 15px;
            height: 15px;
        }
        .modal-body {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 50px; /* Đảm bảo luôn có khoảng trống */
            font-size: 17px;
            height:20px;
            font-weight: bold;
            color: #333;
        }
    </style>
</head>

<body>
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" >
        <div class="modal-dialog modal-sm custom-modal" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100">Thông báo</h5>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <p class="text-center mb-0">Đăng ký thành công!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row ht-100v flex-row-reverse no-gutters">
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="signup-form">
                <div class="auth-logo text-center mb-5">
                    <div class="row">
                        <div class="col-md-2">
                            <img th:src="@{/assets/images/logo-64x64.png}" class="logo-img" alt="Logo">
                        </div>
                        <div class="col-md-10">
                            <p>Argon Social Network</p>
                            <span>Design System</span>
                        </div>
                    </div>
                </div>
                <form id="registerForm" th:action="@{auth/register}" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="errorMessage" class="text-danger" style="display: none;"></div>
                        </div>
                        <div class="col-md-6">
                            <!-- Thông báo lỗi -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="firstname" placeholder="First Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" placeholder="Email Address">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phone" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group position-relative">
                                <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" required>
                                <span class="toggle-password" onclick="togglePassword()"
                                      style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer; color: rgb(59, 136, 195);">
                                <i id="eyeIcon" class="fa-solid fa-eye"></i></span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <p class="agree-privacy">By clicking the Sign Up button below you agreed to our privacy policy and terms of use of our website.</p>
                        </div>
                        <div class="col-md-6">
                            <span class="go-login">Already a member? <a th:href="@{sign-in}">Sign In</a></span>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary sign-up">Sign Up</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 auth-bg-image d-flex justify-content-center align-items-center">
            <div class="auth-left-content mt-5 mb-5 text-center">
                <div class="weather-small text-white">
                    <p class="current-weather">
                        <i class="icon"></i> 
                        <span class="time"></span>
                    </p>
                    <p class="weather-city">Vietnam</p>
                </div>
                <div class="text-white mt-5 mb-5">
                    <h2 class="create-account mb-3">Create Account</h2>
                    <p>Enter your personal details and start journey with us.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script th:src="@{/assets/js/jquery/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/assets/js/popper/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
    <!-- Optional -->
    <script th:src="@{/assets/js/app.js}"></script>
    <script th:src="@{/assets/js/auth.js}"></script>
    <script th:src="@{/assets/js/time-sign.js}"></script>
    <!--Custom-->
    <script>
        togglePassword()
        // Send request
        document.getElementById("registerForm").addEventListener("submit", function(event) {
            event.preventDefault();

            let formData = {
                firstname: document.getElementById("firstname").value,
                lastname: document.getElementById("lastname").value,
                username: document.getElementById("username").value,
                email: document.getElementById("email").value,
                phone: document.getElementById("phone").value,
                password: document.getElementById("password").value,
                confirmPassword: document.getElementById("confirmPassword").value,
            };

            register("/auth/register", "POST", formData, "/sign-in", "errorMessage");
        });
    </script>
</body></html>
