<!DOCTYPE html>

<html lang="en" class="no-js" xmlns:th="http://www.w3.org/1999/xhtml">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" th:href="@{/assets/images/logo-16x16.png}"  />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Argon - Social Network</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
<link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>
<link th:href="@{/assets/css/boxicons.min.css}" rel="stylesheet">
<!-- Styles -->
<link th:href="@{/assets/css/style.css}" rel="stylesheet">
<link th:href="@{/assets/css/components.css}" rel="stylesheet">
<link th:href="@{/assets/css/settings.css}" rel="stylesheet">
<link th:href="@{/assets/css/forms.css}" rel="stylesheet">
<link th:href="@{/assets/css/media.css}" rel="stylesheet">
<link th:href="@{/assets/css/bootstrap/bootstrap.min.css}" rel="stylesheet">
</head>

<body class="messenger">

<div class="container-fluid newsfeed d-flex" id="wrapper">
    <div class="row newsfeed-size f-width">
        <div class="col-md-12 message-right-side">

<!--            <div th:replace="navbar :: navbar"></div>-->

            <div class="row message-right-side-content">
                <div class="col-md-12">
                    <div id="message-frame">
                        <div class="message-sidepanel">
                            <div class="message-contacts settings-sidebar">
                                <ul class="conversations">
                                    <h6 class="p-3">General Settings</h6>
                                    <li class="contact setting-active">
                                        <a href="settings.html" class="wrap d-flex align-items-center">
                                            <img th:src="@{assets/images/icons/settings/account.png}" class="settings-icon" alt="Settings left sidebar">
                                            <div class="meta">
                                                <p>Your Account</p>
                                            </div>
                                        </a>
                                    </li>

                                    <li class="contact">
                                        <a href="#" class="wrap d-flex align-items-center">
                                            <img th:src="@{assets/images/icons/settings/privacy.png}" class="settings-icon" alt="Settings left sidebar">
                                            <div class="meta">
                                                <p>Privacy</p>
                                            </div>
                                        </a>
                                    </li>
                                    <h6 class="p-3">Security &#38; Login</h6>
                                    <li class="contact">
                                        <a href="settings-password.html" class="wrap d-flex align-items-center">
                                            <img th:src="@{assets/images/icons/settings/account.png}" class="settings-icon" alt="Settings left sidebar">
                                            <div class="meta">
                                                <p>Password</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contact">
                                        <a href="#" class="wrap d-flex align-items-center">
                                            <img th:src="@{assets/images/icons/settings/security-question.png}" class="settings-icon" alt="Settings left sidebar">
                                            <div class="meta">
                                                <p>Security Question</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="contact">
                                        <a href="settings-fingerprint.html" class="wrap d-flex align-items-center">
                                            <div class="meta"></div>
                                            <p><img th:src="@{assets/images/icons/settings/fingerprint.png}" class="settings-icon" alt="Settings left sidebar"> Fingerprint Lock</p>
                                        </a>
                                    </li>
                                    <li class="contact">
                                        <a href="settings-location.html" class="wrap d-flex align-items-center">
                                            <div class="meta"></div>
                                            <p><img src="assets/images/icons/settings/location.png" class="settings-icon" alt="Settings left sidebar"> Location</p>
                                        </a>
                                    </li>
                                    <h6 class="p-3">Billing &#38; Payment</h6>
                                    <li class="contact">
                                        <a href="settings-billing-method.html" class="wrap d-flex align-items-center">
                                            <div class="meta"></div>
                                            <p><img src="assets/images/icons/settings/wallet.png" class="settings-icon" alt="Settings left sidebar"> Billing Method</p>
                                        </a>
                                    </li>
                                    <li class="contact">
                                        <a href="#" class="wrap d-flex align-items-center">
                                            <div class="meta"></div>
                                            <p><img src="assets/images/icons/settings/credit-card.png" class="settings-icon" alt="Settings left sidebar"> Automatic Payments</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="content">
                            <div class="settings-form p-4">

                                <form th:action="@{/profile/edit}" method="POST" th:object="${user}" class="mt-4 settings-form">
                                    <h3>Your Account</h3>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label >First Name</label>
                                                    <input type="text" class="form-control" th:field="*{firstname}"
                                                           placeholder="First Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Last Name</label>
                                                    <input type="text" class="form-control" th:field="*{lastname}"
                                                           placeholder="Last Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12">
                                        <div class="form-row mb-3 align-items-center">
                                            <div class="col">
                                                <label>Username</label>
                                                <input type="text" class="form-control" th:field="*{username}"
                                                       placeholder="Username">
                                            </div>
                                            <div class="col check-username">
                                                <span><i class='bx bx-check success'></i> Username is available</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-row mb- align-items-center">
                                            <label>Display Name</label>
                                            <input type="text" class="form-control" th:field="*{displayName}"
                                                placeholder="Display Name">
                                        </div>
                                    </div>
                                    <hr>
                                    <h3>Contact Info</h3>
                                    <div class="col-md-12">
                                        <div class="form-row mb-3 align-items-center">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" th:field="*{email}"
                                                       placeholder="Email">
                                            </div>

                                        </div>
                                        <div class="form-row mb-3 align-items-center">
                                            <div class="col-md-6">
                                                <label>Phone Number</label>
                                                <input  class="form-control" th:field="*{phone}"
                                                        placeholder="Phone Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button type="submit" class="btn btn-primary btn-sm">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Core -->

<!-- Optional -->
<script type="text/javascript">
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

<script th:src="@{/assets/js/jquery/jquery-3.3.1.min.js}"></script>
<script th:src="@{/assets/js/popper/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
<!-- Optional -->
<script type="module" src="/assets/js/profile.js"></script>
<script th:src="@{/assets/js/app.js}"></script>
<script th:src="@{/assets/js/components/components.js}"></script>
</body></html>
